{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["spectaql/*.ts", "db/*"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  },
  "overrides": [
    {
      "files": ["tests/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": {
        // turn the original rule off *only* for test files
        "@typescript-eslint/unbound-method": "off",
        "jest/unbound-method": "error",
        "jest/no-identical-title": "off",
        "jest/expect-expect": [
          "error",
          {
            "assertFunctionNames": ["expect", "chaiExpect"]
          }
        ]
      }
    },
    {
      "files": ["src/**", "tests/**"],
      "rules": {
        "no-console": "error"
      }
    }
  ]
}
