.DS_Store
node_modules
build/
coverage/
dist/
dist-embedded/
*.log*
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.env

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

msw_generated_pacts

packages/form-builder/.swc/
